<section>
  <h1>Create a Bean</h1>

  <form action="/bean/new" method="get" id="new-bean">
    <label name="bean-name">Bean Name:</label>
    <input type="text" placeholder="Lima Bean" name="bean-name" required>
  <br/>
    <label name="description">Description:</label>
  <br/>
    <textarea name="description" placeholder="The best bean in all of the lands" name="description"></textarea>
  <br/>
  <label name="imgURL">Image URL:</label>
  <input type="text">
    <button type="submit">Bean</button>
  </form>
</section>
