<section>
  <div class="hero">
    <div class="hero-body">
      <h1 class="title">Welcome to the Land of Legumes</h1>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <form action="/login" method="post" id="login-form" class="subtitle">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" placeholder="Username" name="username" required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Enter password" name="password" required>
              <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </p>
          </div>

          <div class="field">
            <p class="control">
              <button class="button is-success" type="submit">Login</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>