<section>
  <h1>Welcome to the Land of Legumes</h1>
  <form action="/login" method="post" id="login-form">
    <label="username">Username:</label>
    <input type="text" placeholder="Username" name="username" required>
    <br/>
    <label="password">Password:</label>
    <input type="password" placeholder="Enter password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember">Remember me
    </label>
  </form>
</section>
